@model IEnumerable<TINTOMTAT.Models.PostType.PostTypeViewModel>
<style>
    .top-menu ul li a {
        background: #1e2560;
        color: white;
    }
</style>
<div class="container top-menu">
    <div class="row">
        <div class="home-page col-md-2 col-sm-5 col-5 offset-1">
            <a class="home-page-href" href="@Url.Action("Index","Home")" title="Home">
                <div class="logo">
                    <h1>Demo</h1>
                </div>
            </a>
        </div>
        <div class="col-md-9 col-sm-1 col-1">
            <div class="menu text-right d-none d-md-block text-nowrap overflow-visible">
                <ul>
                    @foreach (var item in Model)
                    {
                        var url = "/Category/" + item.Alias + ".html";
                        <li><a href="@url">@item.PostTypeName</a></li>
                    }
                </ul>
            </div>
        </div>

        <div class="col-md-6 col-sm-4 col-4 responsive-menu pull-right text-right d-md-none d-lg-none">
            <a href="#" class="toggle-menu fa fa-bars"></a>
            <div class="menu">
                <ul>
                    @foreach (var item in Model)
                    {
                        var url = "/Category/" + item.Alias + ".html";
                        <li><a href="@url">@item.PostTypeName</a></li>
                    }
                </ul>
            </div>
        </div>
    </div> 
</div>
